<div class="d-flex justify-content-center">
<button type="button" class="btn btn-primary" style="font-size: x-large; margin-right: 20px;"
    (click)="admin_takeToAddTask()">

    <i class="bi bi-clipboard2-plus"></i> Add New Task</button> <i class="bi bi-circle-fill"
    style="font-size: xx-large; color: #EEEEEE; padding-left: 600px; padding-right: 5px;"></i> <span style="font-size: large;">Pending</span> <i
    class="bi bi-circle-fill" style="font-size: xx-large; color: #CBFFA9; padding-right: 5px; padding-left: 20px"></i>
    <span style="font-size: large;">Completed</span> <i class="bi bi-circle-fill"
    style="font-size: xx-large; color: #FF9B9B; padding-left: 20px; padding-right: 5px;"></i> <span style="font-size: large;">Overdue</span>
</div>