<div>
<button type="button" class="btn btn-primary" style="font-size: x-large; float: left; margin-left: 30px; display: flex;"
    (click)="admin_takeToAddTask()"> <i class="bi bi-clipboard2-plus" style="padding-right: 5px;"></i> Add New Task</button>
    
    <div style="float: right; margin-right: 30px; display: flex;">
    <i class="bi bi-circle-fill"
    style="font-size: xx-large; color: #EEEEEE; padding-right: 5px;"></i> <span style="font-size: large;">Pending</span> <i
    class="bi bi-circle-fill" style="font-size: xx-large; color: #CBFFA9; padding-right: 5px; padding-left: 20px"></i>
    <span style="font-size: large;">Completed</span> <i class="bi bi-circle-fill"
    style="font-size: xx-large; color: #FEA1A1; padding-left: 20px; padding-right: 5px;"></i> <span style="font-size: large;">Overdue</span>
    </div>
</div>