.containertest {
    border-color: grey;
    background-color: grey;
    border-style: solid;
}

td {
    transition: 0.4s;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.btn {
    border: 1.3px solid black;
}