<div>
    <app-admin-header></app-admin-header>
    <div *ngIf="editTaskActive == false && additionalDetailsActive == false" style="margin-top: 70px;">
        <br>
        <br>
        <app-admin-tools></app-admin-tools>
        <br>
        <br>
        <br>
        <div style="margin: 0 auto; padding-left: 15px; padding-right: 15px;">
            <table class="table table-hover" style="margin-top: 30px;">
                <thead style="border-bottom: 1px;">
                    <tr>
                        <th scope="col" class="text-center">Task Subject</th>
                        <th scope="col" class="text-center">Priority</th>
                        <th scope="col" class="text-center">Start Date</th>
                        <th scope="col" class="text-center">Finish Date</th>
                        <th scope="col" class="text-center">Department</th>
                        <th scope="col" class="text-center">Assigned To</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Finish Task</th>
                        <th scope="col" class="text-center">Delete Task</th>
                        <th scope="col" class="text-center">Edit Task</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let userdata of backendData"
                        style="border-left: 1px solid black; border-right: 1px solid black;">
                        <td scope="row" class="text-start"
                            style="width: 350px; height: 40px; cursor: pointer; font-weight: bold;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.subject}}</td>
                        <td class="text-center"
                            style="font-weight: bold; width: 80px; height: 40px; border-left: 1px solid black; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="priorityColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.priority}}</td>
                        <td class="text-center"
                            style="width: 140px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.start_date}}</td>
                        <td class="text-center"
                            style="width: 140px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.finish_date}}</td>
                        <td class="text-center"
                            style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.department}}</td>
                        <td class="text-center"
                            style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.assignedTo | titlecase}}</td>
                        <td class="text-center"
                            style="width: 100px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.status}}</td>
                        <td class="text-center" style="width: 100px; height: 40px;"
                            [style.backgroundColor]="taskColor(userdata)"><button class="btn btn-success"
                                style="width: 90px;" (click)="completeTask(userdata.id);"
                                [disabled]="userdata.status === 'Completed'">Confirm</button></td>
                        <td class="text-center" style="width: 100px; height: 40px;"
                            [style.backgroundColor]="taskColor(userdata)"><button class="btn btn-danger"
                                style="width: 90px;" (click)="deleteTask(userdata.id)">Delete</button></td>
                        <td class="text-center" style="width: 100px; height: 40px;"
                            [style.backgroundColor]="taskColor(userdata)"><button class="btn btn-primary"
                                style="width: 90px;" (click)="editTask(userdata.id)">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Main View of Tasks -->
<!-- ---------------------------------------------------------------------------------------------------------- -->
<!-- Edit Task View -->

<div *ngIf="editTaskActive == true && additionalDetailsActive == false">
    <br>
    <div class="d-flex justify-content-center">
        <h1 class="alert alert-primary text-center" style="margin-top: 80px; font-weight: bold; width: 250px;">Edit
            Existing Task</h1>
    </div>
    <br>
    <div style="display: flex; justify-content: center;">
        <form [formGroup]="editTaskForm">
            <div class="form-group">
                <label for="exampleFormControlInput1" style="font-weight: bold;">Task Subject (Max 60
                    Characters)</label>
                <input maxlength="60" formControlName="subject" type="text" class="form-control"
                    id="exampleFormControlInput1" placeholder="Insert a Task Subject (REQUIRED)"
                    style="margin-top: 5px; width: 600px;">
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" style="font-weight: bold;">Task Description (Max 500
                    Characters)</label>
                <textarea maxlength="500" formControlName="additional_description" class="form-control"
                    id="exampleFormControlTextarea1" rows="5"
                    placeholder="Insert a Task Description (Optional)"></textarea>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" style="font-weight: bold;">Start & Finish Dates</label>
                <br>
                <mat-form-field style="border: 1px solid lightgrey; border-radius: 7px;">
                    <mat-label>Enter Dates (REQUIRED)</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input formControlName="start_date" matStartDate placeholder="Start Date" style="color: black;"
                            readonly>
                        <input formControlName="finish_date" matEndDate placeholder="Finish Date" style="color: black;"
                            readonly>
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                </mat-form-field>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="exampleFormControlSelect1" style="font-weight: bold;">Task Priority</label>
                <select formControlName="priority" class="form-control" id="exampleFormControlSelect1"
                    style="margin-top: 5px; width: 600px;" placeholder="Select a Task Priority (REQUIRED)">
                    <option>LOW</option>
                    <option>MED</option>
                    <option>HIGH</option>
                </select>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="exampleFormControlSelect1" style="font-weight: bold;">Task Status</label>
                <select formControlName="status" class="form-control" id="exampleFormControlSelect1"
                    style="margin-top: 5px; width: 600px;" placeholder="Select a Task Status (REQUIRED)">
                    <option>Completed</option>
                    <option>In Progress</option>
                    <option>Pending</option>
                    <option>Overdue</option>
                </select>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="exampleFormControlSelect1" style="font-weight: bold;">Department</label>
                <select formControlName="department" class="form-control" id="exampleFormControlSelect1"
                    style="margin-top: 5px; width: 600px;" placeholder="Select a Department (REQUIRED)">
                    <option>Engineering</option>
                    <option>Telecoms</option>
                    <option>Administrative</option>
                    <option>Other</option>
                </select>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="exampleFormControlInput1" style="font-weight: bold;">Assigned To (Max 20 Characters)</label>
                <input maxlength="20" formControlName="assignedTo" type="text" class="form-control"
                    id="exampleFormControlInput1" placeholder="Insert who's assigned for this task (Optional)"
                    style="margin-top: 5px; width: 600px;">
            </div>

            <br>
        </form>
    </div>

    <div class="text-center" style="padding-bottom: 50px;">
        <br>
        <span *ngIf="editTaskForm.invalid" class="alert alert-danger" role="alert"
            style="text-align: center; font-size: x-large;">Please complete all the required fields!</span>

        <div style="padding-bottom: 10px;"> <span *ngIf="showSuccess" class="alert alert-success" role="alert"
                style="text-align: center; font-size: x-large;">
                {{editMessage}}
            </span></div>
        <br>
        <button type="button" class="btn btn-primary" style="font-size: x-large; margin-right: 10px;"
            (click)="backToList()"><i class="bi bi-box-arrow-left"></i> Back to Tasks List</button>

        <button [disabled]="editTaskForm.invalid" type="button" class="btn btn-success"
            style="font-size: x-large; margin-left: 10px;" (click)="editTaskFinal()"><i
                class="bi bi-clipboard2-plus"></i> Update Task</button>
    </div>
</div>

<!-- Edit Task View -->
<!-- ---------------------------------------------------------------------------------------------------------- -->
<!-- Additional Details View -->

<div *ngIf="editTaskActive == false && additionalDetailsActive == true" class="p-4">
    <button type="button" class="btn btn-primary" style="font-size: x-large; margin-top: 70px" (click)="backToList()">
        <i class="bi bi-box-arrow-left"></i> Back to Tasks List
    </button>

    <div class="card mx-auto" style="max-width: 600px; margin-top: 20px; margin-bottom: 20px;">
        <div class="card-body">
            <h1 class="card-title text-center alert alert-primary" role="alert">{{showTaskDetails.subject}}</h1>
            <hr>
            <h3 class="card-text">{{showTaskDetails.additional_description}}</h3>
            <hr>
            <h1 class="mt-4 alert alert-primary"><i class="bi bi-info-circle"></i> Status: <span
                    style="font-weight: bold; text-decoration: underline;">{{showTaskDetails.status}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-exclamation-triangle"></i> Priority: <span
                    style="font-weight: bold; text-decoration: underline;">{{showTaskDetails.priority}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-calendar3"></i> Start Date: <span
                    style="font-weight: bold; text-decoration: underline;">{{showTaskDetails.start_date}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-calendar3-event"></i> Finish Date: <span
                    style="font-weight: bold; text-decoration: underline;">{{showTaskDetails.finish_date}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-building"></i> Department: <span
                    style="font-weight: bold; text-decoration: underline;">{{showTaskDetails.department}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-person"></i> Assigned To: <span
                    style="font-weight: bold; text-decoration: underline;">{{showTaskDetails.assignedTo}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-check-circle"></i> Completed By: <span
                    style="font-weight: bold; text-decoration: underline;">{{showTaskDetails.completed_by |
                    titlecase}}</span></h1>

            <br>
            <div>
                <hr>
                <br>
                <h1><span class="alert alert-primary"><i class="bi bi-chat-dots"></i> Comments:</span></h1>
                <br>

                <div *ngFor="let comment of showTaskDetails.comments">
                    <h2>{{comment}}</h2>
                    <hr>
                </div>
            </div>
            <br>
            <form class="form-group" [formGroup]="addCommentForm">
                <label for="exampleFormControlTextarea1" style="font-weight: bold;">Comment (Max 500
                    Characters)</label>
                <textarea maxlength="500" formControlName="comments" class="form-control"
                    id="exampleFormControlTextarea1" rows="4" placeholder="Please write a comment here."></textarea>
                <span style="color: red;" *ngIf="addCommentForm.invalid && addCommentForm.touched">Please
                    write a comment.</span>

                <div style="padding-top: 25px;"> <span *ngIf="showSuccess2" class="alert alert-success" role="alert"
                        style="text-align: center; font-size: x-large;">
                        {{editMessage2}}
                    </span></div>
                <br>
                <button type="button" class="btn btn-primary" [disabled]="addCommentForm.invalid"
                    (click)="addComment()"><i class="bi bi-chat-text"></i> Submit</button>
            </form>
        </div>
    </div>
</div>
<br>
<div *ngIf="editTaskActive == false && additionalDetailsActive == false">
    <app-admin-footer></app-admin-footer>
    <br>
    <br>
</div>