<div>

    <app-admin-header></app-admin-header>

    <div *ngIf="editTaskActive == false && additionalDetailsActive == false" style="margin-top: 70px;">
        <br>
        <app-admin-tools></app-admin-tools>
        <div style="margin: 0 auto; max-width: 1220px;">
            <table class="table table-hover" style="margin-top: 30px;">
                <thead style="border-bottom: 1px;">
                    <tr>
                        <th scope="col" class="text-center">Task Subject</th>
                        <th scope="col" class="text-center">Priority</th>
                        <th scope="col" class="text-center">Start Date</th>
                        <th scope="col" class="text-center">Finish Date</th>
                        <th scope="col" class="text-center">Department</th>
                        <th scope="col" class="text-center">Assigned To</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Finish Task</th>
                        <th scope="col" class="text-center">Delete Task</th>
                        <th scope="col" class="text-center">Edit Task</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let userdata of backendData"
                        style="border-left: 1px solid black; border-right: 1px solid black;">
                        <td scope="row" class="text-start"
                            style="width: 350px; height: 40px; cursor: pointer; font-weight: bold; text-decoration: underline;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.subject}}</td>
                        <td class="text-center"
                            style="font-weight: bold; width: 80px; height: 40px; border-left: 1px solid black; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="priorityColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.priority}}</td>
                        <td class="text-center"
                            style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.start_date}}</td>
                        <td class="text-center"
                            style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.finish_date}}</td>
                        <td class="text-center"
                            style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.department}}</td>
                        <td class="text-center"
                            style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.assignedTo}}</td>
                        <td class="text-center"
                            style="width: 100px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                            [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                            {{userdata.status}}</td>
                        <td class="text-center" style="width: 100px; height: 40px;"
                            [style.backgroundColor]="taskColor(userdata)"><button class="btn btn-success"
                                style="width: 90px;" (click)="completeTask(userdata.id);"
                                [disabled]="userdata.status === 'Completed'">Confirm</button></td>
                        <td class="text-center" style="width: 100px; height: 40px;"
                            [style.backgroundColor]="taskColor(userdata)"><button class="btn btn-danger"
                                style="width: 90px;" (click)="deleteTask(userdata.id)">Delete</button></td>
                        <td class="text-center" style="width: 100px; height: 40px;"
                            [style.backgroundColor]="taskColor(userdata)"><button class="btn btn-primary"
                                style="width: 90px;" (click)="editTask(userdata.id)">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div *ngIf="editTaskActive == true && additionalDetailsActive == false">

    <h2 class="text-center" style="padding-top: 10px; margin-top: 80px">Edit Existing Task</h2>

    <div style="display: flex; justify-content: center;">
        <form [formGroup]="editTaskForm">
            <div class="form-group">
                <label for="exampleFormControlInput1" style="font-weight: bold;">Task Subject</label>
                <input formControlName="subject" type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="Please enter a Subject" style="margin-top: 5px; width: 600px;">
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" style="font-weight: bold;">Task Description</label>
                <textarea formControlName="additional_description"
                    class="form-control" id="exampleFormControlTextarea1" rows="4"
                    placeholder="Please enter a Description (if needed)"></textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlSelect1" style="font-weight: bold;">Task Priority</label>
                <select formControlName="priority" class="form-control"
                    id="exampleFormControlSelect1" style="margin-top: 5px; width: 600px;"
                    placeholder="Please select a Task Priority">
                    <option class="d-none">{{edit_priority}}</option>
                    <option>LOW</option>
                    <option>MED</option>
                    <option>HIGH</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlSelect1" style="font-weight: bold;">Task Status</label>
                <select formControlName="status" class="form-control"
                    id="exampleFormControlSelect1" style="margin-top: 5px; width: 600px;"
                    placeholder="Please select a Task Status">
                    <option>Completed</option>
                    <option>Undefined</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlSelect1" style="font-weight: bold;">Department</label>
                <select formControlName="department" class="form-control"
                    id="exampleFormControlSelect1" style="margin-top: 5px; width: 600px;"
                    placeholder="Please select a Department">
                    <option>Engineering</option>
                    <option>Telecommunication</option>
                    <option>Administrative</option>
                    <option>Other</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlInput1" style="font-weight: bold;">Assigned To</label>
                <input formControlName="assignedTo" type="text"
                    class="form-control" id="exampleFormControlInput1" placeholder="Please enter who's assigned for this task (if needed)"
                    style="margin-top: 5px; width: 600px;">
            </div>

            <br>
        </form>
    </div>

    <div class="text-center">

        <button type="button" class="btn btn-primary" style="font-size: x-large; margin-right: 10px;"
            (click)="backToList()"><i class="bi bi-box-arrow-left"></i> Back to Tasks List</button>

        <button type="button" class="btn btn-success" style="font-size: x-large; margin-left: 10px;"
            (click)="editTaskFinal()"><i class="bi bi-clipboard2-plus"></i> Update Task</button>
    </div>

    <br>
    <h4 class="text-center" style="font-weight: bold;"> {{editMessage}} </h4>

    <br>

</div>

<div *ngIf="editTaskActive == false && additionalDetailsActive == true" class="p-4">
    <button type="button" class="btn btn-primary" style="font-size: x-large; margin-top: 70px" (click)="backToList()">
        <i class="bi bi-box-arrow-left"></i> Back to Tasks List
    </button>

    <div class="card mx-auto" style="max-width: 600px; margin-top: 20px;">
        <div class="card-body">
            <h1 class="card-title text-center">{{additional_subject}}</h1>
            <hr>
            <h5 class="card-text">{{additional_additional_description}}</h5>
            <hr>
            <h3 class="mt-4"><i class="bi bi-info-circle"></i> Status: {{additional_status}}</h3>
            <h3><i class="bi bi-exclamation-triangle"></i> Priority: {{additional_priority}}</h3>
            <h3><i class="bi bi-calendar3"></i> Start Date: {{additional_start_date}}</h3>
            <h3><i class="bi bi-calendar3-event"></i> End Date: {{additional_end_date}}</h3>
            <h3><i class="bi bi-person"></i> Assigned To: {{additional_assignedTo}}</h3>
            <h3><i class="bi bi-building"></i> Department: {{additional_department}}</h3>
        </div>
    </div>
</div>