<div>
    <app-user-header></app-user-header>
    <div *ngIf="additionalDetailsActive == false" style="margin-top: 70px;">
        <div class="text-left" style="padding-top: 40px; padding-left: 5px;">
            <i class="bi bi-circle-fill"
                style="font-size: xx-large; color: #EEEEEE; padding-left: 30px; padding-right: 5px;"></i> <span
                style="font-size: large;">Pending</span> <i class="bi bi-circle-fill"
                style="font-size: xx-large; color: #CBFFA9; padding-right: 5px; padding-left: 20px"></i>
            <span style="font-size: large;">Completed</span> <i class="bi bi-circle-fill"
                style="font-size: xx-large; color: #FEA1A1; padding-left: 20px; padding-right: 5px;"></i> <span
                style="font-size: large;">Overdue</span>
        </div>
        <div style="margin: 0 auto; padding-left: 15px; padding-right: 15px;">
            <table class="table table-hover" style="margin-top: 30px;">
                <thead style="border-bottom: 1px;">
                    <tr>
                        <th scope="col" class="text-center">Task Subject</th>
                        <th scope="col" class="text-center">Priority</th>
                        <th scope="col" class="text-center">Start Date</th>
                        <th scope="col" class="text-center">Finish Date</th>
                        <th scope="col" class="text-center">Department</th>
                        <th scope="col" class="text-center">Assigned To</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Finish Task</th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngFor="let userdata of backendData">
                        <tr *ngIf="userdata.assignedTo.includes(personLoggedInUpperCase) || userdata.assignedTo.includes(personLoggedIn)"
                            style="border-left: 1px solid black; border-right: 1px solid black;">
                            <td scope="row" class="text-start"
                                style="width: 300px; height: 40px; cursor: pointer; font-weight: bold;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.subject}}</td>
                            <td class="text-center"
                                style="font-weight: bold; width: 80px; height: 40px; border-left: 1px solid black; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="priorityColor(userdata)"
                                (click)="additionalDetails(userdata.id)">
                                {{userdata.priority}}</td>
                            <td class="text-center"
                                style="width: 140px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.start_date}}</td>
                            <td class="text-center"
                                style="width: 140px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.finish_date}}</td>
                            <td class="text-center"
                                style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.department}}</td>
                            <td class="text-center"
                                style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.assignedTo | titlecase}}</td>
                            <td class="text-center"
                                style="width: 100px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.status}}</td>
                            <td class="text-center" style="width: 100px; height: 40px;"
                                [style.backgroundColor]="taskColor(userdata)"><button class="btn btn-success"
                                    style="width: 90px;" (click)="completeTask(userdata.id);"
                                    [disabled]="userdata.status === 'Completed'">Confirm</button></td>
                        </tr>
                    </ng-container>
                    <ng-container *ngFor="let userdata of backendData">
                        <tr *ngIf="userdata.assignedTo == 'Not Available'"
                            style="border-left: 1px solid black; border-right: 1px solid black;">
                            <td scope="row" class="text-start"
                                style="width: 300px; height: 40px; cursor: pointer; font-weight: bold;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.subject}}</td>
                            <td class="text-center"
                                style="font-weight: bold; width: 80px; height: 40px; border-left: 1px solid black; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="priorityColor(userdata)"
                                (click)="additionalDetails(userdata.id)">
                                {{userdata.priority}}</td>
                            <td class="text-center"
                                style="width: 140px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.start_date}}</td>
                            <td class="text-center"
                                style="width: 140px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.finish_date}}</td>
                            <td class="text-center"
                                style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.department}}</td>
                            <td class="text-center"
                                style="width: 120px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.assignedTo | titlecase}}</td>
                            <td class="text-center"
                                style="width: 100px; height: 40px; border-right: 1px solid black; cursor: pointer;"
                                [style.backgroundColor]="taskColor(userdata)" (click)="additionalDetails(userdata.id)">
                                {{userdata.status}}</td>
                            <td class="text-center" style="width: 100px; height: 40px;"
                                [style.backgroundColor]="taskColor(userdata)"><button class="btn btn-success"
                                    style="width: 90px;" (click)="completeTask(userdata.id);"
                                    [disabled]="userdata.status === 'Completed'">Confirm</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Main Task View -->
<!-- ---------------------------------------------------------------------------------------------------------- -->
<!-- Additional Details View -->

<div *ngIf="additionalDetailsActive == true" class="p-4">
    <button type="button" class="btn btn-primary" style="font-size: x-large; margin-top: 70px" (click)="backToList()">
        <i class="bi bi-box-arrow-left"></i> Back to Tasks List
    </button>

    <div class="card mx-auto" style="max-width: 600px; margin-top: 20px; margin-bottom: 20px;">
        <div class="card-body">
            <h1 class="card-title text-center alert alert-primary">{{additional_subject}}</h1>
            <hr>
            <h3 class="card-text">{{additional_additional_description}}</h3>
            <hr>
            <h1 class="mt-4 alert alert-primary"><i class="bi bi-info-circle"></i> Status: <span
                    style="font-weight: bold; text-decoration: underline;">{{additional_status}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-exclamation-triangle"></i> Priority: <span
                    style="font-weight: bold; text-decoration: underline;">{{additional_priority}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-calendar3"></i> Start Date: <span
                    style="font-weight: bold; text-decoration: underline;">{{additional_start_date}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-calendar3-event"></i> Finish Date: <span
                    style="font-weight: bold; text-decoration: underline;">{{additional_end_date}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-building"></i> Department: <span
                    style="font-weight: bold; text-decoration: underline;">{{additional_department}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-person"></i> Assigned To: <span
                    style="font-weight: bold; text-decoration: underline;">{{additional_assignedTo}}</span></h1>
            <h1 class="alert alert-primary"><i class="bi bi-check-circle"></i> Completed By: <span
                    style="font-weight: bold; text-decoration: underline;">{{additional_completed_by |
                    titlecase}}</span></h1>

            <div>
                <hr>
                <br>
                <h1><span class="alert alert-primary"><i class="bi bi-chat-dots"></i> Comments:</span></h1>
                <br>

                <div *ngFor="let comment of additional_comments">
                    <h2>{{comment | titlecase}}</h2>
                </div>
            </div>
            <hr>
            <form class="form-group" [formGroup]="addCommentForm">
                <label for="exampleFormControlTextarea1" style="font-weight: bold;">Comment (Max 400
                    Characters)</label>
                    <textarea maxlength="400" formControlName="comments" class="form-control"
                    id="exampleFormControlTextarea1" rows="4" placeholder="Please write a comment here."></textarea>
                    <span style="color: red;"
                                *ngIf="addCommentForm.invalid && addCommentForm.touched">Please
                                write a comment.</span>

                <div style="padding-top: 25px;"> <span *ngIf="showSuccess2" class="alert alert-success" role="alert"
                        style="text-align: center; font-size: x-large;">
                        {{editMessage2}}
                    </span></div>
                <br>
                <button type="button" class="btn btn-primary" [disabled]="addCommentForm.invalid" (click)="addComment()">Submit</button>
            </form>

        </div>
    </div>
</div>
<br>

<div *ngIf="additionalDetailsActive == false">
    <br>
    <br>
    <app-user-footer></app-user-footer>
</div>