<app-admin-header></app-admin-header>

<h1 class="text-center" style="padding-top: 10px; margin-top: 80px; font-weight: bold;">Add New Task</h1>
<br>
<div style="display: flex; justify-content: center;">
    <form [formGroup]="addTaskForm">
        <div class="form-group">
            <label for="exampleFormControlInput1" style="font-weight: bold;">Task Subject (Max 60 Characters)</label>
            <input maxlength="60" formControlName="subject" type="text" class="form-control"
                id="exampleFormControlInput1" placeholder="Please insert a Task Subject (REQUIRED)"
                style="margin-top: 5px; width: 600px;">
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1" style="font-weight: bold;">Task Description (Max 500
                Characters)</label>
            <textarea maxlength="500" formControlName="additional_description" class="form-control"
                id="exampleFormControlTextarea1" rows="5"
                placeholder="Please insert a more detailed Task Description (Optional)"></textarea>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1" style="font-weight: bold;">Start & Finish Dates</label>
            <br>
            <mat-form-field style="border: 1px solid lightgrey; border-radius: 7px;">
                <mat-label>Enter Dates (REQUIRED)</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input class="form-control" formControlName="start_date" matStartDate placeholder="Start Date" style="color: black;" readonly>
                    <input class="form-control" formControlName="finish_date" matEndDate placeholder="Finish Date" style="color: black;" readonly>
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
            </mat-form-field>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="exampleFormControlSelect1" style="font-weight: bold;">Task Priority</label>
            <select formControlName="priority" class="form-control" id="exampleFormControlSelect1"
                style="margin-top: 5px; width: 600px;">
                <option hidden>Please select a Task Priority (REQUIRED)</option>
                <option>LOW</option>
                <option>MED</option>
                <option>HIGH</option>
            </select>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="exampleFormControlSelect1" style="font-weight: bold;">Department</label>
            <select formControlName="department" class="form-control" id="exampleFormControlSelect1"
                style="margin-top: 5px; width: 600px;">
                <option hidden>Please select a Department (REQUIRED)</option>
                <option>Engineering</option>
                <option>Telecoms</option>
                <option>Administrative</option>
                <option>Other</option>
            </select>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="exampleFormControlInput1" style="font-weight: bold;">Assigned To (Max 20 Characters)</label>
            <input maxlength="20" formControlName="assignedTo" type="text" class="form-control"
                id="exampleFormControlInput1"
                placeholder="Please insert who is specifically assigned to this task (Optional)"
                style="margin-top: 5px; width: 600px;">
        </div>
        <br>
    </form>
</div>

<div class="text-center" style="padding-bottom: 50px;">

    <br>
    <span *ngIf="addTaskForm.invalid" class="alert alert-danger" role="alert" style="text-align: center; font-size: x-large;">Please complete all the required fields!</span>
    <div style="padding-bottom: 10px;"> <span *ngIf="showSuccess" class="alert alert-success" role="alert" style="text-align: center; font-size: x-large;">
        {{addedMessage}}
    </span></div>
    <br>
    <button type="button" class="btn btn-primary" style="font-size: x-large; margin-right: 10px;"
        (click)="admin_takeToMainTask()"><i class="bi bi-box-arrow-left"></i> Back to Tasks View</button>

    <button [disabled]="addTaskForm.invalid" type="button" class="btn btn-success"
        style="font-size: x-large; margin-left: 10px;" (click)="addTask()"><i class="bi bi-clipboard2-plus"></i> Add New
        Task</button>
</div>