<button type="button" class="btn btn-primary" style="font-size: x-large; margin-left: 20px; margin-top: 20px;"
        (click)="takeToMainTask()"><i class="bi bi-box-arrow-left"></i> Back to Tasks View</button>

<br>
<br>
<br>
<div style="text-align: center;">
<h1>CIT Tasks Management System</h1>

<h2>Designed and Scripted by: <span style="font-weight: bold; text-decoration: underline;">Stivi Mustafaj</span></h2>
<h2>Created for: <span style="font-weight: bold; text-decoration: underline;">Canadian Institute of Technology</span></h2>
<h2>Version: <span style="font-weight: bold; text-decoration: underline;">0.9</span></h2>
</div>